:root{

--primary-color:#ff0000;
--text-color:#222;
--bg-color:#ffffff;

--border-color:#e5e5e5;

--radius:8px;

}
:root{

--bg-color:#ffffff;
--text-color:#111;
--navbar-bg:#38bdf8;
--card-bg:#ffffff;
--border-color:#e5e7eb;

}

/* DARK MODE */

.dark{

--bg-color:#0f172a;
--text-color:#ffffff;
--navbar-bg:#0f172a;
--card-bg:#1e293b;
--border-color:#334155;

}